# auth_service
# FASE 2: usa su propia base moovacloud_auth (Alwaysdata).
SECRET_KEY=tu_clave_secreta_aqui
DB_HOST=mysql-moovacloud.alwaysdata.net
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=moovacloud_auth
DB_PORT=3306

# OTP
OTP_EXPIRA_MIN=10
OTP_MAX_INTENTOS=3
MAX_INTENTOS_IP=3
TIEMPO_BLOQUEO=2

# API Interna
API_KEY=tu_api_key_interna